extends navbarDefault
include _includes/contactModal

block content

  #banner.page-header
    .row
      .col-md-6
        h1.bang LET'S FIND A
        h1.bang HOME FOR
          span.sec-color.bang  NOW.
      .col-md-6
        #userloc
  .row
    each location in locations
      +contactModal(location.name, location._id, location.available, location.phoneNumber, location.uri)
      .col-xs-12
        .panel.panel-default
          .row
            .col-md-3
              a(href='/location/'+location.uri)
                if locationImgs != null && locationImgs[locations.indexOf(location)] != null
                  img.img-responsive.img-square.pb-2(src=locationImgs[locations.indexOf(location)])
                else
                  img.img-responsive.img-square.pb-2(src='/images/placeholder.png')
              h2.panel-title= location.name
            .col-md-9
              .row
                .col-md-6
                  .col-md-8
                    .locations-text
                      |  #{location.description}
                .col-md-6
                  .panel-body
                    a.mr-1(href='#',data-toggle="modal",data-target="#contactmodal"+location.uri)
                      button.btn.btn-primary
                        | Apply Now
                    a(href='#',data-toggle="modal",data-target="#contactmodal"+location.uri)
                      button.btn.btn-secondary
                        | More Info
              .row
                .panel-body
                  .col-md-6
                      h2.location-address= location.address.suburb  
                  .col-md-6
                    if location.available
                      h2.available-bed Available
    each dlocation in dlocations
      .col-xs-12
        .panel.panel-default
          .row
            .col-md-3
              a(href='/location/'+dlocation.uri)
                if dlocationImgs != null && dlocationImgs[dlocations.indexOf(dlocation)] != null
                  img.img-responsive.img-square.pb-2(src=dlocationImgs[dlocations.indexOf(dlocation)])
                else
                  img.img-responsive.img-square.pb-2(src='/images/placeholder.png')
              h2.panel-title= dlocation.name
            .col-md-9
              .row
                .col-md-6
                  .col-md-8
                    .locations-text
                      |  #{dlocation.description}
                .col-md-6
                  .panel-body
                      a(href='#',data-toggle="modal",data-target="#contactmodal"+dlocation.uri)
                        button.btn.btn-secondary.btn-more-info
                          | More Info
              .row
                .panel-body
                  .col-md-6
                    h2.location-address= dlocation.address.suburb  
  script.
    /**
    * Map that displays on the user location
    */
    function userMap()
    {
        const lat = Number("#{userCoords.lat}");
        const long = Number("#{userCoords.long}");
        const coord = {lat: lat, lng: long}; // need to change to user current latlng
        const map = new google.maps.Map(document.getElementById('userloc'), {
          zoom: 14,
          center: coord,
          disableDefaultUI: true,
          zoomControl: false,
          gestureHandling: 'none'
        });

        const marker = new google.maps.Marker({
          position: coord,
          map: map
        });
    }
  script(src='/javascripts/requests.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key='+process.env.embed_maps_api+'&callback=userMap')
