extends navbarDefault

block content
  
    include _includes/messages/error
    include _includes/messages/info
    include _includes/signupModal
    include _includes/inDevNotifModal
    
    +signupModal('Right Now.', '/locations/contact/short_term', 'shortTermModal')
    +signupModal('Long Term.', '/locations/contact/long_term', 'longTermModal')
    +inDevNotifModal()
    
    style.
      #location {
        border-radius: 3px;
        box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        border: solid 2px #333333;
      }
    #banner.page-header(style="margin-bottom: 17vh;")
      .row
        .col-xs-12.col-md-8
          img.img-responsive(src='images/landing_main.png')
    form(id='locationForm', onsubmit='event.preventDefault()')
      .form-group
        .row
          .col-md-8.col-xs-12
            input.form-control.input-lg(type='text', name='location', placeholder='Where are you now - e.g. Subiaco', autocomplete='on', required)#location
            if user
              input(type='hidden', name='userId', id='userId', value=user.id)
            .spacer-sm
              .row
                .col-md-6.col-sm-8.text-left(style='margin-top: 3px; color: #999;')
                  a(style='padding-left: 18px;')
                  | Use 
                  a(href='javascript: geoloc();', class='geoloc' style='color: #999;')#get_location
                    | my current location
          .col-xs-6.col-md-2.text-right
            button(type='submit', data-toggle='modal',data-target='#shortTermModal').btn.btn-lg.btn-primary#shortBtn
              | Right now
          .col-xs-6.col-md-2.text-left
            button(type='submit', data-toggle='modal',data-target='#longTermModal').btn.btn-lg.btn-secondary#longBtn
              | Long term
    .spacer-md
    .row
      .col-xs-12
        img.img-responsive(src='images/landing_where.png', style='height: 120px;')
    .spacer-sm
    .row
      .col-xs-12
        h2.bang(style="margin:0px;")="CLOSE TO YOU."
        h3(style="margin:0px;")="Nearest crisis accommodation services."
    .row
      each location in [crisis, transitional]
        if location
          .col-sm-6.col-xs-12
            .panel.panel-default.panel-spaced
              .panel-header.image.img-shadow
                a.serviceLink(href='location/'+location.uri)
                  if images[[crisis, transitional].indexOf(location)] != null
                    img.img-responsive.img-square.center-block(src=images[[crisis, transitional].indexOf(location)])
                  else
                    img.img-responsive.img-square.center-block(src='images/placeholder-image.png')
              .panel-header
                a.serviceLink(href='/location/'+location.uri)
                  .panel-title.text-center.roboto-title.black.line-spc-2= location.name
                .text-justify.text-center.roboto-desc.dark-grey.line-spc-4(style='padding-top: 5px;')
                    | #{location.description}
    .spacer-xs
    .row
      .col-sm-12
        h2.bang(style="margin: 0px;")="WHO TO CALL."
        h3(style="margin: 0px;")="Numbers to call if you need help."
    .spacer-xs
    .row
      .col-xs-6
        h3.bold='Entry Point'
        h4.bold.sec-color.
          6496 0001 </br>
          1800 124 684
      .col-xs-6
        h3.bold='Crisis Care'
        h4.bold.sec-color.
          9223 1111 </br>
          1800 199 008
    .spacer-xs
    #cookieConsent
      #closeCookieConsent x
      | This website is using cookies. 
      a(href='/policy', target='_blank') More Info.
      a.cookieConsentOK That's Fine
    script(src='/javascripts/location.js')
    script(src='/javascripts/requests.js')
    script(async='', defer='',  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3i_JFMmmWMoWvhYFQ8BubRxjCZddZNFw&libraries=places&callback=initialize')
    script.
      if (!localStorage.visited) {
        $('#inDevNotifModal').modal('toggle')
        localStorage.visited = true;
      }

      $('.serviceLink').click(function() { localStorage.fromIndex = true })
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script.
      $(function() {
          $('input[type="date"]').datepicker({dateFormat: 'yy-mm-dd'})
      })
    style.
      #cookieConsent {
          background-color: rgba(20,20,20,0.8);
          min-height: 26px;
          font-size: 14px;
          color: #ccc;
          line-height: 26px;
          padding: 8px 0 8px 30px;
          font-family: "Trebuchet MS",Helvetica,sans-serif;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          display: none;
          z-index: 9999;
      }
      #cookieConsent a {
          color: #4B8EE7;
          text-decoration: none;
      }
      #closeCookieConsent {
          float: right;
          display: inline-block;
          cursor: pointer;
          height: 20px;
          width: 20px;
          margin: -15px 0 0 0;
          font-weight: bold;
      }
      #closeCookieConsent:hover {
          color: #FFF;
      }
      #cookieConsent a.cookieConsentOK {
          background-color: #F1D600;
          color: #000;
          display: inline-block;
          border-radius: 5px;
          padding: 0 20px;
          cursor: pointer;
          float: right;
          margin: 0 60px 0 10px;
      }
      #cookieConsent a.cookieConsentOK:hover {
          background-color: #E0C91F;
      }
    script.
      $(document).ready(function(){
        if (!localStorage.acceptCookies) {
          $('#cookieConsent').fadeIn(200);
        }
        $("#closeCookieConsent, .cookieConsentOK").click(function() {
          $("#cookieConsent").fadeOut(200);
        });
        $('.cookieConsentOK').click(function () {
          localStorage.acceptCookies = true;
        })
      }); 