extends navbarDefault

block content
  
    include _includes/messages/error
    include _includes/messages/info
    include _includes/signupModal
    
    +signupModal('Right Now.', '/locations/contact/short_term', 'shortTermModal')
    +signupModal('Long Term.', '/locations/contact/long_term', 'longTermModal')
    
    //- style.
    //-   #location::placeholder {
    //-     font-size: 19px;
    //-     font-weight: 300;
    //-   }

    #banner.page-header
      .row
        .col-md-8
          h1.bang= title1
          h1.sec-color.bang= title2
          h3.bold(style='margin-bottom: 0px;')= 'Youth Accomodation'
          h3.bold(style='margin: 0px;')= 'Options in Perth, Western Australia'
    form(id='locationForm', onsubmit="event.preventDefault()")
      .form-group
        .row
          .col-md-8.col-xs-12
            input.form-control.input-lg(type='text', name='location', placeholder='Where are you now - e.g. Subiaco', autocomplete='on', required)#location
            if user
              input(type='hidden', name='userId', id='userId', value=user.id)
            .spacer-sm
              .row
                .col-md-6.col-sm-8.text-left(style='margin-top: 3px; color: #999;')
                  a(style='padding-left: 18px;')
                  | Use 
                  a(href='javascript: geoloc();', class='geoloc' style='color: #999;')#get_location
                    | my current location
          .col-md-2.col-xs-6.text-right
            button(type='submit', data-toggle='modal',data-target='#shortTermModal').btn.btn-lg.btn-primary#shortBtn
              | Right now
          .col-md-2.col-xs-6.text-left
            button(type='submit', data-toggle='modal',data-target='#longTermModal').btn.btn-lg.btn-secondary#longBtn
              | Long term
    .spacer-md
    .row
      .col-xs-12
        img.img-responsive(src='images/landing head.png', style='height: 120px;')
    .spacer-sm
    .row
      .col-xs-12
        h2.bang(style="margin:0px;")="CLOSE TO YOU."
        h3(style="margin:0px;")="Nearest crisis accommodation services."
    .row
      each location in [crisis, transitional, long]
        if location
          .col-md-4.col-sm-12
            .panel.panel-default.panel-spaced
              .panel-header.image.img-shadow
                a(href='location/'+location.uri)
                  if images[[crisis, transitional, long].indexOf(location)] != null
                    img.img-responsive.img-square.center-block(src=images[[crisis, transitional, long].indexOf(location)])
                  else
                    img.img-responsive.img-square.center-block(src='images/placeholder-image.png')
              .panel-header
                a(href='/location/'+location.uri)
                  .panel-title.text-center.roboto-title.black.line-spc-2= location.name
                .text-justify.text-center.roboto-desc.dark-grey.line-spc-4(style='padding-top: 5px;')
                    | #{location.description}
    .spacer-xs
    .row
      .col-sm-12
        h2.bang(style="margin: 0px;")="WHO TO CALL."
        h3(style="margin: 0px;")="Numbers to call if you need help."
    .spacer-xs
    .row
      .col-xs-6
        h3.bold='Entry Point'
        h4.bold.sec-color='6496 0001'
        h4.bold.sec-color='1800 124 684'
      .col-xs-6
        h3.bold='Crisis Care'
        h4.bold.sec-color='9223 1111'
        h4.bold.sec-color='1800 199 008'
    .spacer-xs
    script(src='/javascripts/location.js')
    script(src='/javascripts/requests.js')
    script(async='', defer='',  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3i_JFMmmWMoWvhYFQ8BubRxjCZddZNFw&libraries=places&callback=initialize')
