extends navbarDefault

block content
    #banner.page-header
        include _includes/messages/error
        include _includes/messages/info
        .row
            .col-md-8
                h1.bang= title1
                h1.sec-color.bang= title2
    form(id='locationForm')
        .form-group
            .row
                .col-md-8.col-xs-12
                    input.form-control.input-lg(type='text', name='location', placeholder='Where are you now - e.g. Subiaco', autocomplete='on')#location
                    if user
                      input(type='hidden', name='userId', id='userId', value=user.id)
                    .spacer-sm
                      .row
                          .col-md-6.col-sm-8.text-left(style='margin-top: 3px; color: #999;')
                            a(style='padding-left: 18px;')
                            | Use 
                            a(href='javascript: geoloc();', class='geoloc' style='color: #999;')#get_location
                                | my current location
                    .spacer-sm
                    .spacer-sm
                .col-md-2.col-xs-6.text-right
                    button(type='button').btn.btn-lg.btn-primary#shortBtn
                        | Right now
                .col-md-2.col-xs-6.text-left
                    button(type='button').btn.btn-lg.btn-secondary#longBtn
                        | Long term
    .spacer-lg
    .row
      .col-sm-12
        .panel.panel-default.panel-spaced
          .bangers-heading.black.line-spc-3
            | CLOSE TO YOU.
          .roboto-sub-heading.dark-grey
            | Nearest crisis accommodation services.
    .row
        each location in [crisis, transitional, long]
          if location
            .col-lg-4.col-md-12
                .panel.panel-default.panel-spaced
                    a(href='location/'+location.uri)
                      if images[[crisis, transitional, long].indexOf(location)] != null
                        img.img-responsive.img-square.img-shadow.center-block(src=images[[crisis, transitional, long].indexOf(location)])
                      else
                        img.img-responsive.img-square.img-shadow.center-block(src='images/placeholder.png')
                    p
                    a(href='/location/'+location.uri, style='text-decoration: none; color: inherit;')
                      .panel-title.text-center.roboto-title.black.line-spc-2= location.name
                    .panel-body.text-justify.text-center.roboto-desc.dark-grey.line-spc-4
                        | #{location.description}
                        
    .row
      .col-sm-12
        .panel.panel-default.panel-spaced
          .bangers-heading.black.line-spc-3
            | WHO TO CALL.
          .roboto-sub-heading.dark-grey
            | Numbers to call if you need help.
    .row
      .col-sm-6
        .panel.panel-default.panel-spaced
          .roboto-heading.black.line-spc-5
            | Entry Point
          .roboto-heading.phone-num.deep-pink.line-spc-2
            | 6496 0001
            p.line-spc-2
            | 1800 124 684
      .col-sm-6
        .panel.panel-default.panel-spaced
          .roboto-heading.black.line-spc-5
            | Crisis Care
          .roboto-heading.phone-num.deep-pink.line-spc-2
            | 9223 1111
            p.line-spc-2
            | 1800 199 008

    script(src='/javascripts/search.js')
    script(src='/javascripts/location.js')
    script(async='', defer='',  src='https://maps.googleapis.com/maps/api/js?key='+process.env.embed_maps_api+'&libraries=places&callback=initialize')
