extends navbarDefault

block content
  include _includes/addBedModal
  
  .page-header-sm
    .container
        h1 #{service.name}
    .container
      .row
        .col-xs-12
          h3 #{service.address.suburb}
            
  .container-fluid
    ul.nav.nav-tabs.nav-justified.service-tabs
      li.active.text-center
        a(data-toggle='tab', href='#bedManagement')
          | Bed
          br
          | Management
      li.text-center
        a(data-toggle='tab', href='#serviceProfile')
          | Service
          br
          | Profile
      li.text-center
        a(data-toggle='tab', href='#bedsAvaliable')
          | Beds
          br
          | Available
    .tab-content.service-tab-content
      #bedManagement.tab-pane.fade.in.active
        .container-fluid
          .row
            .col-xs-10
              h3 Our Bed Count
            .col-xs-2
              a.pull-right(href='#', data-toggle='modal', data-target='#editBedModal')
                h6 Edit 
                  span
                    i.material-icons.btn-other(style='font-size: inherit;') edit 
            .col-xs-12
              form(action='/service/beds/update/'+service.uri, method='post')
                each bed in service.beds
                  .panel.shadow
                    .panel-body
                      .row.text-center
                        .col-xs-2
                          h4 ICON
                        .col-xs-4
                          h4 #{bed.name}
                        .col-xs-2
                          h6 Avaliable
                          input(type='radio', name='beds['+service.beds.indexOf(bed)+'][isOccupied]', checked=bed.isOccupied==='Available', value='Available')
                        .col-xs-2
                          h6 Pending
                          input(type='radio', name='beds['+service.beds.indexOf(bed)+'][isOccupied]', checked=bed.isOccupied==='Pending', value='Pending')
                        .col-xs-2
                          h6 Occupied
                          input(type='radio', name='beds['+service.beds.indexOf(bed)+'][isOccupied]', checked=bed.isOccupied==='Unavailable', value='Unavailable')
                input.btn.btn-secondary.pull-right(type='submit', name='Submit', value='Update Beds')
          .row
            .col-xs-12
              h3 Our Requests
            .col-xs-12
              .panel
                .panel-body
                  .row.text-center
                    .col-xs-2
                      h4 GENDER
                    .col-xs-3
                      h4 CONTACT
                    .col-xs-3
                      h4 NAME
                    .col-xs-2
                      h4 AGE
                    .col-xs-2
                      h4 CALLED
                  
              each request in service.openRequests
                .panel.shadow
                  .panel-body
                    .row.text-center
                      .col-xs-2
                        if (request.youth.gender == 'Male')
                          h4 MALE ICON
                        else
                          h4 FEM ICON
                      .col-xs-3
                        h6 #{request.youth.email}
                        h6 #{request.youth.phoneNumber}
                      .col-xs-3
                        h4 #{request.youth.name}
                      .col-xs-2
                        h6 #{request.youth.dob}
                      .col-xs-2
                        input(type='checkbox', name=request.email+'check')
      #serviceProfile.tab-pane.fade.in
        .container
          h3 //TODO
      #bedsAvaliable.tab-pane.fade.in
        .container
          h3 //TODO
  script.
    
  script(src='/javascripts/service.js')
