extends navbarDefault
include _includes/contactModal

block content
  style.
    .HTMLify {
      white-space: pre-wrap;
    }
  .container-fuid
    if images != null || logo != null
      .spacer-xs
      .spacer-xs
      .row      
        if images != null && images.length > 0
          .col-xs-12
            .panel.panel-default
              .panel-body
                #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
                  // Indicators
                  ol.carousel-indicators
                    -var index = 0
                    each image in images
                      if index == 0
                        li.active(data-target='#myCarousel', data-slide-to=index++)
                      else
                        li(data-target='#myCarousel', data-slide-to=index++)
                  // Wrapper for slides
                  .carousel-inner(style='height: 50vh;')
                    -var index = 1
                    each image in images
                      if index == 1
                        .item.active
                          img.img-responsive.img-square.center-block(src=image, alt='Image ' + index++)
                      else
                        .item
                          img.img-responsive.img-square.center-block(src=image, alt='Image ' + index++)
                    // Left and right controls
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                      span.glyphicon.glyphicon-chevron-left(style='color: #b3b3b3;')
                      span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                      span.glyphicon.glyphicon-chevron-right(style='color: #b3b3b3;')
                      span.sr-only Next
          .col-xs-12
            .panel-default
              .panel-body
                if logo != null
                  img.img-responsive.center-block(src=logo)
    else
      .spacer-md

    .row.text-center
      .col-xs-12
        a(href='#',data-toggle="modal",data-target="#contactmodal"+location.uri)
          button.btn.btn-primary
            | Contact
        +contactModal(location.name, location._id, location.available, location.phoneNumber, location.uri, location.thankyouMessage, logo)

    .spacer-xs
    .row.text-center
      .col-xs-12
        h1.text-center= location.name
      .col-xs-12
        h3.text-justify.HTMLify #{location.description}
      .col-xs-12.col-md-9
    .row.text-center
      .col-xs-12
        h2 About
      .col-xs-12
        h4.text-justify.HTMLify #{location.about}
    if location.amenities != null
      .row.text-center
        .col-xs-12
          h2(style='margin-bottom: 30px;') Amenities
        .col-xs-12
          .row
            each amenity in location.amenities
              .col-xs-12.col-md-4.col-sm-6
                .col-xs-3.text-right
                  i.material-icons.sec-color.text-center(style='font-size: 50px;') #{amenity.icon} &nbsp;&nbsp;
                .col-xs-9.text-left.no-wrap(style='padding-top: 15px;')
                  h4(style='display: inline;') #{amenity.label}
    .row.text-center
      .col-xs-12
        h2 House Expectations
      .col-xs-12
        h4.text-justify.HTMLify #{location.houseRules}
    .row.text-center
      if location.hours
        .col-xs-12
          h2 Office Hours
        .col-xs-12
          | Monday: #{location.hours.mon.open} - #{location.hours.mon.close}
          br
          | Tuesday: #{location.hours.tue.open} - #{location.hours.tue.close}
          br
          | Wednesday: #{location.hours.wed.open} - #{location.hours.wed.close}   
          br
          | Thursday: #{location.hours.thu.open} - #{location.hours.thu.close}
          br
          | Friday: #{location.hours.fri.open} - #{location.hours.fri.close}
          br
          | Saturday: #{location.hours.sat.open} - #{location.hours.sat.close}
          br
          | Sunday: #{location.hours.sun.open} - #{location.hours.sun.close}
    .spacer-xs

  script(src='/javascripts/requests.js')
