extends navbarDefault

block content
  .row.page-header
    .col-lg-12
      h1= title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h2.panel-title Office Hours
            .panel-body
              | Weekdays: #{location.opening} - #{location.closing}
              br
              | Saturday: Closed
              br
              | Sunday: Closed   
          .panel.panel-default
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok 
                  | &nbsp;#{facility}
                | &nbsp;  
          .panel.panel-default
            .panel-heading
              h2.panel-title Restrictions
            .panel-body
              each restriction in location.restrictions
                span.label.label-danger
                  span.glyphicon.glyphicon-remove 
                  | &nbsp;#{restriction}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-default
            .panel-heading
              h2.panel-title= map.title
              style.
                #map {
                  height: 50%;
                }
            .panel-body
              #map
              |
              script.
                function initMap() {
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: {lat: -31.986, lng: 115.822},
                    disableDefaultUI: true,
                    zoomControl: true
                  });
                }
              script(async='', defer='', src="https://maps.googleapis.com/maps/api/js?callback=initMap&signed_in=false&key="+process.env.embed_maps_api)
    .col-xs-12.col-md-3              
      p.lead About #{location.name}
      p= additionalInfo
      a(href="https://www.missionaustralia.com.au/",target="_blank").btn.btn-lg.btn-default Learn More   
