extends navbarDefault
include _includes/contactModal

block content
  style.
    .HTMLify {
      white-space: pre-wrap;
      line-height: 25px;
    }
  .pswp(tabindex="-1" role="dialog" aria-hidden="true")
      .pswp__bg
      .pswp__scroll-wrap
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            .pswp__counter
            button.pswp__button.pswp__button--close(title="Close (Esc)")
            button.pswp__button.pswp__button--share(title="Share")
            button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
            button.pswp__button.pswp__button--zoom(title="Zoom in/out")
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
          button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
          .pswp__caption
            .pswp__caption__center

  .container-fuid
    #top
    if images != null || logo != null
      .spacer-xs
      .spacer-xs
      .row      
        if images != null && images.length > 0
          .col-xs-12
            .panel.panel-default
              .panel-body
                #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
                  // Indicators
                  ol.carousel-indicators
                    -var index = 0
                    each image in images
                      if index == 0
                        li.active(data-target='#myCarousel', data-slide-to=index++)
                      else
                        li(data-target='#myCarousel', data-slide-to=index++)
                  // Wrapper for slides
                  .carousel-inner(style='height: 50vh;')
                    -var index = 1
                    each image in images
                      if index == 1
                        .item.active.img-carousel
                          img.img-square.center-block.img-carousel.service-img(src=image, alt='Image ' + index++)
                      else
                        .item.img-carousel
                          img.img-square.center-block.img-carousel.service-img(src=image, alt='Image ' + index++)
                    // Left and right controls
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                      span.glyphicon.glyphicon-chevron-left(style='color: #b3b3b3;')
                      span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                      span.glyphicon.glyphicon-chevron-right(style='color: #b3b3b3;')
                      span.sr-only Next
          .col-xs-12
            .panel-default
              .panel-body
                if logo != null
                  img.img-responsive.center-block(src=logo)
    else
      .spacer-md

    .row.text-center
      .col-xs-12(style='margin-top: 15px;')
        a#contactBtn(href='#', data-toggle="modal", data-target="#contactmodal"+location.uri)
          button.btn.btn-primary
            | CONTACT
        +contactModal(location.name, location._id, location.available, location.phoneNumber, location.uri, location.thankyouMessage, logo)

    .spacer-xs
    .row.text-center
      .col-xs-12
        h2.text-center(style='margin-bottom: 30px;')= location.name
      .col-xs-12
        h4.text-left.HTMLify #{location.description}
      .col-xs-12.col-md-9
    .row.text-center
      .col-xs-12
        h4.text-left.HTMLify #{location.about}
    .spacer-xs
      if location.amenities != null
        .row.text-center
          .col-xs-12
            h2(style='margin-bottom: 40px;') Amenities
          .col-xs-12
            .row
              each amenity in location.amenities
                .col-xs-12.col-md-4.col-sm-6
                  .col-xs-3.text-right
                    i.material-icons.sec-color.text-center(style='font-size: 50px;') #{amenity.icon} &nbsp;&nbsp;
                  .col-xs-9.text-left.no-wrap(style='padding-top: 15px;')
                    h4(style='display: inline;') #{amenity.label}
    .spacer-xs
    .row.text-center
      .col-xs-12
        h2(style='margin-bottom: 20px;') House Expectations
      .col-xs-12
        h4.text-left.HTMLify #{location.houseRules}
    .row.text-center
      if location.hours
        .col-xs-12
          h2 Office Hours
        .col-xs-12
          | Monday: #{location.hours.mon.open} - #{location.hours.mon.close}
          br
          | Tuesday: #{location.hours.tue.open} - #{location.hours.tue.close}
          br
          | Wednesday: #{location.hours.wed.open} - #{location.hours.wed.close}   
          br
          | Thursday: #{location.hours.thu.open} - #{location.hours.thu.close}
          br
          | Friday: #{location.hours.fri.open} - #{location.hours.fri.close}
          br
          | Saturday: #{location.hours.sat.open} - #{location.hours.sat.close}
          br
          | Sunday: #{location.hours.sun.open} - #{location.hours.sun.close}
    .spacer-xs
    a#back 
      i.material-icons(style='vertical-align: bottom;') arrow_back 
      | Back to vacancies 
    a.text-center.pull-right#back-to-top-btn(style='margin-bottom: 20px;')
      i.material-icons(style='vertical-align: bottom;') keyboard_arrow_up
      | <br>Back to top

  link(rel="stylesheet", href="https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.css")
  link(rel="stylesheet", href="https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/default-skin/default-skin.css")
  script(src='https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.min.js')
  script(src='https://rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe-ui-default.min.js')
  script(src='/javascripts/requests.js')
  script.
    $('#back').click(function() {
      history.back()
    })

    if (localStorage.fromIndex) { 
      localStorage.removeItem('fromIndex') 
      $('#contactBtn').hide() 
    }

    var pswpElement = document.querySelectorAll('.pswp')[0];

    var items = [
    ];

    var options = {
      index: 0
    }

    var images = !{JSON.stringify(images)};

    for (var i = 0; i < images.length; i++) {
      items.push({
        src: images[i],
        w: 600,
        h: 400
      })
    }

    $('.service-img').click(function () {
      var gallery = new PhotoSwipe(pswpElement,PhotoSwipeUI_Default, items, options);
      gallery.init()
    })

    $('#back-to-top-btn').click(function () {
      document.body.scrollTop = 0; // For safari
      document.documentElement.scrollTop = 0; // For the other browsers
    })
  style.
    #back:hover {
      cursor: pointer;
    }
    .img-carousel {
      height: 100% !important;
    }
    .service-img {
      cursor: pointer;
    }
