extends navbarDefault

block content
  .row.page-header
    .col-lg-12
      h1=location.tagline
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          if location.hours
            .panel.panel-default
              .panel-heading
                h2.panel-title Office Hours
              .panel-body#officeHours
                | Monday: #{location.hours.mon.open} - #{location.hours.mon.close}
                br
                | Tuesday: #{location.hours.tue.open} - #{location.hours.tue.close}
                br
                | Wednesday: #{location.hours.wed.open} - #{location.hours.wed.close}   
                br
                | Thursday: #{location.hours.thu.open} - #{location.hours.thu.close}
                br
                | Friday: #{location.hours.fri.open} - #{location.hours.fri.close}
                br
                | Saturday: #{location.hours.sat.open} - #{location.hours.sat.close}
                br
                | Sunday: #{location.hours.sun.open} - #{location.hours.sun.close}
          .panel.panel-default
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok 
                  | &nbsp;#{facility}
                | &nbsp;  
          .panel.panel-default
            .panel-heading
              h2.panel-title Restrictions
            .panel-body
              each restriction in location.restrictions
                span.label.label-danger
                  span.glyphicon.glyphicon-remove 
                  | &nbsp;#{restriction}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-default
            .panel-heading
              h2.panel-title= map.title
              style.
                #map {
                  height: 50%;
                }
            .panel-body
              #map
              |
    .col-xs-12.col-md-3              
      p.lead About #{location.name}
      p= location.additionalInfo
      a(href=location.website, target='_blank').btn.btn-lg.btn-default Learn More   
      p
        | &nbsp;   
    if images != null && images.length > 0
      .col-xs-12.col-md-3
        .panel.panel-default
          .panel-heading
            h2.panel-title Gallery
          .panel-body
            #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
              // Wrapper for slides
              .carousel-inner
                -var index = 1
                each image in images
                  if index == 1
                    .item.active
                      img(src=image, alt='Image ' + index++)
                  else
                    .item
                      img(src=image, alt='Image ' + index++)
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                  span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
                  span.sr-only Next
  script(src='/javascripts/other.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key='+process.env.embed_maps_api+'&callback=initMap')
