mixin signupModal(title, route, id)
    .modal.fade(id=id,role='dialog')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header(style='padding-bottom: 25px;')
                    button(type='button',data-dismiss='modal').close &times;
                    h2.sec-color.bang.modal-title= title
                    h4.modal-title(style='color: #606060; padding-bottom:5px;').
                        Help us find </br>
                        somewhere close to you.
                    h5.modal-title(style='color: #606060;').
                        Fill These Details To Get The </br>
                        Vacancies Suited To You
                .modal-body(style='padding-top: 0px;')
                    form(action=route, method="post", id=id+'form')
                        .form-group
                            label(for=id+"fName") First Name
                            input(type="text", name="fName", placeholder="e.g. John", required, id=id+"fName").form-control
                        .form-group
                            label(for=id+"lName") Last Name
                            input(type="text", name="lName", placeholder="e.g. Doe", required, id=id+"lName").form-control
                        .form-group
                            label(for=id+"dob") Date of Birth
                            input(type="date", name="dob", required, id=id+"dob").form-control
                        .form-group
                            .row
                                .col-xs-6
                                    select.form-control(name="gender", placeholder="Gender", required, id=id+"gender")
                                        option(hidden='true', value='') Gender
                                        option Male
                                        option Female
                                        option Other
                                .col-xs-6
                                    label.checkbox-inline
                                        input(type="checkbox", name="child", value="yes", id=id+"child")
                                        | Parent with child?
                        .form-group
                            //- input(name="location", type="hidden", value="test location")
                            input(name="lat", type="hidden", id='latitude '+title)
                            input(name="long", type="hidden", id='longitude '+title)
                            input(type='hidden', name='lengthOfStay', id='los '+title)
                        .form-group
                            .text-center
                              button.btn.btn-primary(name="Submit", type="submit", style='width: 200px; margin-bottom: 10px;') Get Suitable Vacancies
                            .text-center
                                a(href='#', style='font-size: 11px; color: #282828; text-decoration: underline;') Privacy Info
//- script(src='/javascripts/requests.js')
